.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 43px;
}
.header .parg{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}
.header p{
    color: var(--gray);
    font-weight: 400;
font-size: 14px;
line-height: 17px;

}
.header h2{
font-weight: 600;
font-size: 22px;
}
